<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://xtermjs.org/css/bootstrap.min.css" />
  <link href="https://xtermjs.org/css/fonts.css" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://xtermjs.org/css/main.css">
  <script src="https://xtermjs.org/js/jquery-3.1.1.slim.min.js"></script>
</head>
  <body>
    <div class="site-wrapper">
      <main>
        <section>
          <div class="container">
            <div class="home">

  <div class="demo">
    <div class="inner"></div>
</div>
<link rel="stylesheet" href="https://xtermjs.org/css/xterm.css" />
<style>
.xterm-viewport.xterm-viewport {
    scrollbar-width: thin;
}
.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}
</style>
<script src="https://xtermjs.org/js/xterm.js"></script>
<script src="https://xtermjs.org/js/addon-webgl.js"></script>
<script src="https://xtermjs.org/js/demo.js"></script>
<script>window.parent.resizeIframe();</script>

  </body>
</html>
